
.no-connect-custom {
  width: 90%;
  margin: 3rem auto;
  padding-top: 1rem;
  background: #2A3047;
  border-radius: 8px;
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 3rem;
  line-height: 23px;
  letter-spacing: -0.5px;
  color: rgba(255, 255, 255, 0.669635);

  & > div {
    color: black;
    background: white;

    & .header-div-custome {
      width: 100%;
      background: #2A3047;
      height: 4rem;
    }
    
    & h1 {
      color: white;
      width: 100%;
    }
  } 
}